<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is login page</h1>
    <form action="/login" method="post">
        <input type="text" name="username" value="<%= username %>" placeholder="User Name" />
        <input type="password" name="password" value="<%= password %>" placeholder="Password"/>
        <input type="submit"/>
    </form>
    <a href="/register"> sign up?</a>
    <div></div>
    <a href="/dashboard"> Dash  Board</a>
    <script>
        if("<%= errorMessage %>" == "UsrNotFound"){
            alert('Not Found User');
        }
        else if("<%= errorMessage %>"  == "WrongPass"){
            alert('You Have Entered The wrong Password');
        }
    </script>
</body>
</html>